.places{
	display: grid;
	justify-content: center;
	padding-top: 92px;
	padding-bottom: 92px;
	row-gap: 80px;
	max-width: 1184px;
}
@media screen and (max-width: 1025px){
	.places{
		padding: 0 48px 92px;
	}
}
@media screen and (max-width: 870px){
	.places{
		padding: 0 24px 90px;
		row-gap: 73px;
	}
}
@media screen and (max-width:660px) {
	.places {
		row-gap: 50px;
		padding: 64px 0 66px;
	}
}
