.place__paragraph{
	max-width: 484px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
	margin: 0 0 27px;
}
.place__paragraph:last-child{
	margin-bottom: 0;
}