.cover__background{
	background-image: url(../../../images/cover-trains.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1184px;
	min-height: 740px;
	margin: 0 auto 92px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1;
}
.cover__background .cover__overlay:hover {
	opacity: 0.8;
}


@media screen and (max-width: 1185px){
	.cover__background {
	  min-height: calc(100vw*740/1184);
	}
  }
  
  @media screen and (max-width: 850px){
	.cover__background {
	  margin-bottom: 88px;
	}
  }
  
  @media screen and (max-width: 640px){
	.cover__background {
	  margin-bottom: 64px;
	}
  }